html{
	position: relative;
}
body{
	width: 100%;
	background-image: url('../image/bk1.jpg');
	background-size: cover;
	
}
.form {
    max-width: 100%;
    top: 75px; }
    .form label {
        opacity: 1;
        position: absolute;
        top: 281px;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        overflow: visible;
        white-space: nowrap;
        text-align: left;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        color: rgba(7,0,70,1); }
    .form rect {
        opacity: 1;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.059));
        fill: rgba(255,255,255,1);
        stroke: rgba(112, 112, 112, 0.15);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto; 
        position: absolute;
        overflow: visible;
        width: 474px;
        height: 167px;
        left: 469px;
        top: 278px; 
        border: 4px dashed rgba(7,0,70,1); }
    .form tombol {
        opacity: 1;
        filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.059));
        fill: rgba(7,0,70,1);
        stroke: rgba(112, 112, 112, 0.03);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;
        position: absolute;
        overflow: visible;
        width: 194px;
        height: 61px;
        left: 584px;
        top: 505px;
        background-color: darkgrey; }
    .form tombol o {
        opacity: 1; 
		white-space: nowrap;
		text-align: center;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
        color: rgba(7,0,70,1); }

        table.paleBlueRows {
    font-family: Poppins;
    border: 1px solid #FFFFFF;
    width: 1200px;
    height: 200px;
    top: 200px;
    left: 75px;
    
    text-align: center;
    border-collapse: collapse; }
    table.paleBlueRows td, table.paleBlueRows th {
        border: 1px solid #FFFFFF;
        padding: 3px 2px; }
    table.paleBlueRows tbody td {
        font-size: 13px; }
    table.paleBlueRows tr:nth-child(even) {
        background: #D0E4F5; }
    table.paleBlueRows thead {
        background: #0B6FA4;
        border-bottom: 5px solid #FFFFFF; }
    table.paleBlueRows thead th {
        font-size: 17px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
        border-left: 2px solid #FFFFFF; }
    table.paleBlueRows thead th:first-child {
        border-left: none; }
    table.paleBlueRows tfoot {
        font-size: 14px;
        font-weight: bold;
        color: #333333;
        background: #D0E4F5;
        border-top: 3px solid #444444; }
    table.paleBlueRows tfoot td {
        font-size: 14px; }

        .table-responsive{
    margin-top: 30px;
}

.table{
    text-align: center;
}

/* Navbar */
.navbar {
 position: relative;
 z-index: 1;
}
.navbar-brand {
	font-family: Viga;
	font-size: 27px;
}

.jumbotron {
	background-image: url(../image/Web.jpg);
	background-size: cover;
	height: 640px;
	position: relative;

}

.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0,0.5) , rgba(0,0,0,0.5));
	position: absolute;
	bottom: 0px;
	left: 0px;
}

footer {
	background-color: #333;
	padding-top: 30px;
	padding-bottom: 30px;	
}
footer h7 {
	color: white;	
}


/* Dekstop Version */
@media (min-width: 992px) { 

.nav-link {
	margin-right: 10px;
	color: white;
	font-weight: bold;

}

.nav-link:hover::after {
	content: '';
	display: block;
	border-bottom: 3px solid #0B63DC;
	width: 50%;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: -8px;

}

.jumbotron {
	background-image: url(../image/Web.jpg);
	background-size: cover;
	height: 640px;
	margin-top: -75px;
}

.navbar-brand, .nav-link {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	color: white !important;
}

.foto{
position: relative;
	z-index: 1;
	width: 250px;
	height: 250px;
	top: 80px;
	border-radius: 100%;
	border: 5px solid #333;
}

.About {
	min-height: 620px;
}

.Portofolio {
	background-color: #A9A9A9;
	min-height: 900px;

}
.Portofolio hr{
	margin-bottom: 60px;
}
.Portofolio .img-thumbnail{
	margin: 10px;
	}

}

